body {
  background: aliceblue;
  display: flex;
  justify-content: center;
}

canvas {
  border: 1px solid black;
}

.popup {
    position: absolute;
    display: none;
    left: 590px;
    top: 522px;
    background: #7492b9c7;
    border-radius: 10px;
    border: 2px solid;
    padding: 15px;
}


.editForm {
  position: absolute;
  display: none;
  justify-items: center;
  padding: 1vH;
  left: 21%;
  top: 5%;
  background: #7492b9c7;
  border-radius: 10px;
  border: 2px solid;
}

.editForm > p {
  margin: 1vH;
}

.mainWrapperInfo {
  display: grid;
  position: absolute;
  top: 10%;
  left: 7%;
  justify-items: start;
}

.wrapperExclamation {
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
  margin-top: 1rem;
}


.wrapperExclamation > img {
  width: 50px;
  cursor: pointer;
}

.wrapperExclamation:active {
  transform: scale(0.9);
}

.wrapperSearch {
  display: grid;
  background-color: #ccc;
  padding: 4px 10px;
  border-radius: 10px;
}

.wrapperInfoText {
    display: none;
    background-color: #ccc;
    width: 300px;
    padding: 10px;  
    border-radius: 10px;
}

.wrapperInfoText > p {
  font-size: 14px;
  line-height: 20px;
}

.checkboxWrapper {
  display: flex;
  padding: 1vH 2vH;
}

.typeListMonstrs{
  display: none;
  background-color: #296666de;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1vH;
}

.btn {
  border-radius: 8px;
  padding: 7px;
  cursor: pointer;
}

body {
  background: #ffffff; 
  color: #414141;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select-box {
  display: none;
  cursor: pointer;
  position: relative;
  max-width: 20em;
  margin: 1em auto;
  margin-bottom: 0;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
  border-radius: 5px;
}

.label {
  position: relative;
  padding: 0px 10px;
  cursor: pointer;
}
.open .label::after {
  content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 15px;
  border-left: 5px solid #fff;
}

/* Стилизация подсписков и элементов */
.sub-select {
  display: none;
  margin-top: 1rem;
}

.subList {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc; /* Граница вокруг подсписков */
  border-radius: 5px;
  background: #fff; /* Фон подсписков */
  appearance: none;
  -webkit-appearance: none;
}

/* Стилизация элементов в подсписках */
.subList option {
  padding: 5px;
  font-size: 16px;
  color: #333;
}

/* Стилизация выделенных элементов */
.subList option:checked {
  background: #ececec;
  color: #333;
}


/* Стили для меток подсписков */
.sub-select-label {
  position: relative;
  padding: 0px 10px;
  cursor: pointer;
}
.sub-select-label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 15px;
  border-left: 5px solid #fff;
}

.show {
  display: block;
}

.p_Checkbox {
  margin: 2px;
}

.inputField {
  margin-bottom: 1vH;
  border-radius: 10px;
  padding: 7px;
}

.selectField{
  width: 100%;
  margin-bottom: 3vH;
  border-radius: 10px;
  padding: 4px;
}
/* Define styles for the button */
.button {
  display: inline-block;
  padding: 7px 15px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
}

/* Define styles for the button on hover */
.button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.addFormPoint{
  display: grid;
  justify-items: center;
}

.close-button {
  position: absolute;
  top: 3%;
  right: 8%;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s; /* Добавляем анимацию */
}

.close-button:active {
  transform: scale(0.9); /* Уменьшим размер при нажатии */
}

